@import url(variables.css);

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  h2 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  p {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bright {
  --primary: (var(--light-purple));
}

.dark{
  --primary: (var(--light-blue));
}

body{
  background-color: var(--primary);
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}



.card {
  width: 45rem;
  height: 55rem;
  border-radius: 1.5rem;
  border-width: 2rem;
  margin:1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border: 1.5rem groove var(--dimgray);
  background-color: var(--oldlace);
}

.card-img {
  width: 70%;
  object-fit: contain;
}

.card-title, .card-desc, .card-price {
  margin: 1rem;
  color: var(--dimgray);
}