:root{
    --light-purple: #b87de9;
    --dark-purple: #6e22ad;
  
    --light-blue: #817de9;
    --dark-blue: #2722ad;
    
    --primary: #812bc8;
  
    --h1: 7rem;
    --h2: 6rem;
    --h3: 5rem;
    --h4: 4rem;
    --h5: 1.5rem;
  }