:root{
    --title-w: #77381b;
    --border-w: #ffad77;
    --card-w: #f7dbc8;
    --text-w:#883122;
    --button-bg-w: #f5c0c0;  
    --button-w: #691f1f;
    --background-w: #f5d8ca;


    --title-c: #2a3e76;
    --border-c: #b2c8ff;
    --card-c: #d8e6f7;
    --text-c: #33496d;
    --button-bg-c: #ccbee2;
    --button-c: #4f3775;       
    --background-c: #e0e7f5;   

    --h1: 3.815rem;
    --h2: 2.852rem;
    --h3: 2.441rem;
    --h4: 1.953rem;
    --h5: 1.563rem;
    --h6: 1.25rem;
  }